.card-content {
    width: 25%;
    height: 350;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.like-button {
    margin-left: 75% !important;
}

.earth-date-info {
    padding-right: 72%;
}

.thumb-icon {
    font-size: 1.0rem !important;
    padding-right: 2px;
}

.check-icon {
    font-size: 1.0rem !important;
    padding-right: 2px;
}